.card {
    margin: auto;

    &__wrapper {
        display: flex;
        padding: 24px;
    }
}

.card__item {
}
.card__content.content {
}
.card__img {
}
.content__heading {
}
.content__subheader {
}
.content__benefits {
}
.content__form {
}
.form {
}
.content__benefit {
}
.form__desc {
}
.form__column {
}
.form__button {
}
