@import "libs/null";
@import "libs/fonts";
// @import "libs/animate";

@import "base/variables";

body {
   height: 100%;
}
.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: Roboto;
   color: $color-dark-navy;
   min-height: 100%;
   overflow: hidden;
   background-color: #36384d;
}

.footer {
   color: #fff;
   margin-bottom: 20px;
   & a {
      color: #fff;
      text-decoration: underline;
   }
}

@import "blocks/card";
// @import "base/animations";
// @import "blocks/footer";
// @import "base/media";
