@import "libs/null";
@import "libs/fonts";

@import "base/variables";

body {
   height: 100%;
}
.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: Roboto;
   color: $color-dark-navy;
   min-height: 100%;
   overflow: hidden;
   background-color: #36384d;
   position: relative;
}

.hidden{
   display: none;
}

.footer {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 20px;
   color: #fff;
   margin-bottom: 20px;
   width: 500px;
   text-align: center;
   & a {
      color: #fff;
      text-decoration: underline;
   }
}

@import "blocks/card";
@import "blocks/error";
@import "blocks/success";
@import "base/media";
